# URL de connexion utilisée par Prisma
DATABASE_URL="postgresql://dahlia:dahlia@localhost:5432/dahlia?schema=public"

TA069_TELERECOURS_USERNAME=
TA069_TELERECOURS_PASSWORD=
# IDs des divisions (legalEntityDivisionIds), séparés par des virgules (ex. 2488,1234)
TA069_TELERECOURS_DIVISIONS=
